alias gst='git status'
alias ga='git add'
alias gp='git push'
alias gco='git checkout'
alias gb='git branch'
alias gl='git log --oneline --graph --decorate --all'
alias gd='git diff'
alias ll='ls -lh --color=auto'
alias ls="exa -al --color=always --group-directories-first"
alias c="clear"
alias bat="batcat --paging=never"
alias cat="bat --paging=never"
alias update='sudo apt update && sudo apt upgrade -y'
alias npm-clean='npm cache clean --force'
alias pnpm-clean='pnpm store prune'
alias setup-dotfiles='bash ~/dotfiles/setup.sh'
alias vef='code --folder-uri "file://$HOME/code/vai-e-faz"'
alias cdvef='cd ~/code/vai-e-faz'
alias dotfiles='code --folder-uri "file://$HOME/code/.dotfiles"'
alias dbvef='psql -h localhost -U vaiefaz -d vaiefazdb'

alias d='docker'
alias dps='docker ps'
alias dpsa='docker ps -a'
alias dcu='docker-compose up -d'
alias dcd='docker-compose down'
alias dlogs='docker-compose logs -f'
alias dbash='docker exec -it'  # Ex: dbash <container_name> /bin/bash
alias dprune='docker system prune -af'  # Limpa tudo (containers/parados, cache etc)
# Atalho p/ subir banco do V&F com Docker Compose
alias dbvef='docker-compose -f ~/code/vai-e-faz/docker-compose.yaml up -d'

alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
# busca com ripgrep
alias grep="rg"
# abre lazygit na pasta atual
alias lg="lazygit"
# busca no histórico com fzf
alias h="history | fzf"
# abre zsh config rápido
alias zrc="nano ~/.zshrc"